body {
    font-family: 'Arima', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.header-site {
    background-image: url(images/donation1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;

}

.continar {
    color: rgb(251, 251, 251);
}

.continar {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    height: 700px;
    width: 600px;
    background: none;
    justify-content: center;
}

.head1 {
    font-size: 50px;
}

.paragraph {
    margin-top: -20px;
    font-size: 20px;
    line-height: 25px;

}

.donate-link {
    background-color: rgb(236, 81, 54);
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    margin-top: 5px;
    padding: 20px 25px;
    border-radius: 5px;
}

.rescue {
    color: black;
    width: 600px;
}

.rescue h2 {
    font-size: 50px;
}

.rescue p {
    color: rgb(105, 88, 88);
    margin-top: -20px;
    font-size: 20px;

}

.amount-option {
    font-size: 30px;
    display: flex;
    width: 700px;
    height: 100px;
    justify-content: space-evenly;
    background-color: rgba(241, 245, 229, 0.884);
    color: rgb(101, 96, 96);
    align-items: center;

}

.amount-option .box {
    display: flex;
    height: 100px;
    width: 130px;
    padding: 0px;
    border: 10px solid rgb(255, 255, 255);
    align-items: center;
    justify-content: center;

}

.amount-option .speacial-box {
    border: 4px #f95d42 solid;
    color: rgb(253, 90, 61);
    width: 150px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    font-size: 15px;
    text-align: center;
    color: rgb(110, 107, 107);
    border-width: 0 0 2px;
    width: 750px;
    outline: 0;
}